@import url('./login.css');

body {
    font-family:'Krub', sans-serif;
    background: url('../img/xd.png'); 
    background-repeat: no-repeat;
    
    background-position: center;
    margin: 0;
    padding: 0;
    
}
  img{
    width: 500px;
    height: 200px;
    
} 



/* Estilos para el encabezado */



main {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

section {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #AAAAAA;
    display: grid;
    /* / grid-template-columns: 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

article p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.5;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #2E4053;
}


/* Estilo para el formulario  */


label {
    font-size: 1.2rem;
    color: #2E4053;
}





/* Validacion  */

.form-input::placeholder {
    color: #fbfbfb;
}

.form-input:focus:required {
    border-color: #02ffd0;
    outline: 0 none;
}

.form-input:required:placeholder-shown {
    border: 1px solid #e8e8e8;
}

.form-input:required:not(:placeholder-shown):invalid {
    border: 1px solid red;
    color: red;
    box-shadow: 0 0 0 1px;
}

.form-input:required:not(:placeholder-shown):valid {
    border: 1px solid #2fe678;
    color: #2fe678;
    box-shadow: 0 0 0 1px;
}

.form-input:required:focus:invalid {
    border-bottom: 1px solid red ;
    color: red; 
    box-shadow: 0 0 0 1px;
}

.form {
    max-width: 30rem;
    margin: 2rem auto;
}

.form-group {
    margin-bottom: 24px;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
}
/* Error de Registrarse*/
h5 {
    margin: 0 auto;
    background-color: rgb(255, 251, 0.2);
    background-image: url(../img/cerrar.png);
    background-repeat: no-repeat;
    color: red;
    width: 299px;
    font-size: medium;
    border-radius: 10px;
    height: 19px;
    background-size: 4.8%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-position:93%;
}

/* Error de Sesion*/
h3 {
    margin: 0 auto;
    background-color: rgb(255, 251, 0.2);
    background-image: url(../img/cerrar.png);
    background-repeat: no-repeat;
    color: red;
    width: 355px;
    font-size: medium;
    border-radius: 10px;
    height: 25px;
    background-size: 4.8%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-position:93%;
}



/*Registro Validado*/
h6{
    margin: 0 auto;
    background-color: #fbfbfb;
    background-image: url(../img/usuario.gif);
    background-repeat: no-repeat;
    color: rgb(11, 167, 11);
    width: 299px;
    font-size: larger;
    border-radius: 10px;
    height: 34px;
    background-size: 15.8%;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-position:93%; 
    border: solid 2px green;
}

/* estilo login y registro  */



.t-login {
    font-size: medium;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    margin-top: auto;
}

.gif-presen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 80px;
   
    border-radius: 100%;
}

.form-input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #1B03A3, #800080);
    color: #fbfbfb;
    font-size: 16px;
}

legend {color: #fbfbfb;}

.form-button {
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border:none;
    background-color: #1485ff;
    place-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 300ms;
}

.b-registrar{
    background-image: url(../img/asistencia-social.gif);
    background-repeat: no-repeat;
    padding-left:30px;
    background-size: 20%;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    background-position: right;
    transition: transform .2s;
    
    
}

.b-sesion{
    background-image: url(../img/acceso.gif);
    background-repeat: no-repeat;
    background-size: 25%;
    padding-left:20px;
    margin-left: 15px;
    height: 22px;
    text-align: left;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    background-position: right;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border:none;
    background-color: #1485ff;
    color: #000000;
    font-weight: 500;
    place-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 300ms;
    transition: transform .2s
}

.b-sesion-gif{
    background-image: url(../img/cohete.gif);
    height: 32px;
}

.b-registrar-gif{
    background-image: url(../img/carne-de-identidad.gif);
}


.b-sesion:hover{
    
    color: #fff;
    transform: scale(1.1);
    border:1px solid #2f32e6;
}

.form-button:hover,
.form-button:focus {
    border:1px solid #2f32e6;
    transform: scale(1.1);
    color: #fbfbfb;
    font-weight: 500;
}


/* Estilos para el pie de página */


footer p {
    margin: 0;
    padding: 0;
}

.error {
    color: #cf1212;
}

.resetear {
    margin-left: 10px;
}